---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('projects')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
			<div class="max-w-7xl mx-auto w-fit">
				<div class="grid grid-cols-2 gap-4 place-content-around w-fit mt-8 mb-8">
					{
						posts.map((post) => (
								<a class="ease-in duration-200 w-fit hover:shadow-lg rounded"href={`/projects/${post.slug}/`}>
									<div class="bg-red-500 max-w-md h-60 rounded-lg">
										<img src={post.data.heroImage} class="object-fill max-w-md h-60 mb-2" alt="" />
									</div>
									<h4 class="title mt-2 ml-2 mb-2">{post.data.title}</h4>
								</a>
						))
					}
				</div>
			</div>
		<Footer />
	</body>
</html>